body{
  background-color: #F4FCD9 !important;
}

.btn-secondary{
  background-color: #BB9981 !important;
}

.customheader{
  background-color: #C5D8A4;
  color: white;
}

.editButton{
  background-color:#BB9981;
}

.deleteButton{
  /* background-color: #534340; */
  background-color: #0d0a0a;
}

.jumbotron{
  background: url("https://images.unsplash.com/photo-1530173235220-f6825c107a77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80") fixed;
  background-size: cover;
  height: 70vh;
}

.image {
  width: 100%;
  max-width: 400px;
  height: auto;
}